[user]
	name = Larry Jones
	email = larry.jones@reveal-energy.com

[core]
	# editor = "'/C/PROGRA~2/SUBLIM~1/sublime_text.exe' -m"
	# editor = /c/PROGRA~2/vim/vim74/gvim -f '%*'
	# editor = start //wait C:/emacs-24.4/bin/emacs.exe /"%*/"
	# editor = atom --wait

	excludesfile = c:/Users/larry.jones/.config/git/ignore

	# autocrlf = input # Mac OS X
	# autocrlf = true # Windows
	ignorecase = false

[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true

[diff]
	tool = meld
#	tool = p4merge
 	tool = kdiff3
# 	guitool = kdiff3
 	guitool = meld

[difftool]
	prompt = false

[difftool "p4merge"]
	# cmd = /c/PROGRA~1/Perforce/p4merge.exe "$LOCAL" "$REMOTE"
	# cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$LOCAL" "$REMOTE"

[difftool "kdiff3"]
	path = c:/PROGRA~1/kdiff3/kdiff3.exe
	trustExitCode = false

[difftool "meld"]
	cmd = /c/PROGRA~2/Meld/Meld.exe "$LOCAL" "$REMOTE"

[merge]
	tool = meld
#	tool = p4merge
	tool = kdiff3

[mergetool "p4merge"]
# 	cmd = /c/PROGRA~1/Perforce/p4merge.exe "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
#	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
#	keepTemporaries = false
#	trustExitCode = false
#	keepBackup = false

[mergetool "kdiff3"]
    path = c:/PROGRA~1/kdiff3/kdiff3.exe
#    keepBackup = false
    trustExitCode = false

[mergetool "meld"]
	cmd = /c/PROGRA~2/Meld/Meld.exe "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
#	cmd = /c/PROGRA~2/Meld/Meld.exe "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
	keepBackup = false

[alias]
	co = checkout
	br = branch
	lol = log --pretty=oneline --abbrev-commit --graph --decorate --all
	unstage = reset HEAD
	st = status

[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true

[commit]
	# template = c:/cygwin64/home/ljones/work/projects/rightangle/env/.gitmessage.txt
