[user]
	name = Lawrence Allan Jones
	email = lawrence.jones@openlink.com
[core]
	editor = cmd //c C:/Windows/gvim.bat -f '%*'
	excludesfile = $CYGHOME/.gitignore
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[alias]
	co = checkout
	lol = log --pretty=oneline --abbrev-commit --graph --decorate --all
	unstage = reset HEAD
	st = status
