[user]
	name = Lawrence Allan Jones
	email = lawrence.jones@openlink.com
[core]
	editor = cmd //c C:/Windows/gvim.bat -f '%*'

[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true

[difftool "p4merge"]
	cmd = /c/PROGRA~1/Perforce/p4merge.exe "$LOCAL" "$REMOTE"

[diff]
	tool = p4merge

[mergetool "p4merge"]
	cmd = /c/PROGRA~1/Perforce/p4merge.exe "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false

[merge]
	tool = p4merge

[alias]
	co = checkout
	br = branch
	lol = log --pretty=oneline --abbrev-commit --graph --decorate --all
	unstage = reset HEAD
	st = status
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
