[user]
	name = Larry Jones
	email = larryj@blinds.com

[core]
	# editor = "'/C/PROGRA~2/SUBLIM~1/sublime_text.exe' -m"
    # editor = /c/PROGRA~2/vim/vim74/gvim -f '%*'
	# editor = start //wait C:/emacs-24.4/bin/emacs.exe /"%*/"
	# editor = atom --wait

	excludesfile = c:/Users/larryj/.config/git/ignore
	autocrlf = true

[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true

[difftool "p4merge"]
    cmd = c:/PROGRA~1/Perforce/p4merge.exe "$LOCAL" "$REMOTE"
    trustExitCode = false
[diff]
	tool = p4merge

[mergetool "p4merge"]
 	cmd = c:/PROGRA~1/Perforce/p4merge.exe "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[merge]
	tool = p4merge

[alias]
	co = checkout
	br = branch
	lol = log --pretty=oneline --abbrev-commit --graph --decorate --all
	unstage = reset HEAD
	st = status

[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
