 <?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="vim" version="9.0.1227"/>
	<package id="neovim" version="0.8.3"/>
	<package id="emacs" version="28.2.0"/>
	<package id="totalcommander" version="10.51"/>
	<package id="rapidee" version="9.2.937"/>
	<package id="chromium" version="109.0.5414.120"/>
	<package id="jetbrainstoolbox" version="1.27.2.13801"/>
	<package id="sizer" version="4.0.640"/>
	<package id="git" version="2.39.1"/>
	<package id="python310" version="3.10.10"/>
	<package id="7zip" version="22.1"/>
	<package id="adobereader" version="2022.003.20314"/>
	<package id="msys2" version="20230127.0.0"/>
	<package id="zoom" version="5.13.7.12602"/>
	<package id="nodejs-lts" version="18.14.1"/>
	<package id="sourcetree" version="3.4.9"/>
	<package id="ag" version="2.2.5"/>
	<package id="sharpkeys.portable" version="3.9.4"/>
	<package id="plantuml" version="1.2023.5"/>
	<package id="vscode" version="1.76.2"/>
</packages>